/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #5a2424 0%, #aa1340 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

/* Card */
.card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 2.5rem 2rem;
    text-align: center;
    max-width: 300px;
    color: #fff;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.3 ease;
}

/* Foto */
.profile-pic img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 3px solid #fff;
    transform: scale(1.02);
    transition: 0.3 ease;
}

.profile-pic img:hover {
    transform: scale(1.1);
}

/* Nome */
.card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Bio */
.card p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.buttons .btn-follow,
.buttons .btn-message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.buttons .btn-follow:hover {
    background-color: #4CAF50;
    color: #fff;
    transform: scale(1.1);
}

.buttons .btn-message:hover {
    background-color: #2196F3;
    color: #fff;
    transform: scale(1.1);
}